{{!-- template-lint-disable no-inline-styles style-concatenation --}}
<div class="hex-tile {{to-lower @hex.landform}} {{to-lower @hex.biome}}">
  {{#if this.style}}
    <div class="img-container">
      <span style="{{this.style}}"></span>
    </div>
  {{/if}}
</div>
