<Input
  @autocomplete="off"
  @type="text"
  @placeholder="Username..."
  @value={{this.query}}
  @key-up={{fn this.search}}
/>

{{#if this.results}}
  <ul class="dropdown show">
    {{#each this.results as |result|}}
      <li class="result">
        <button class="text" {{action this.selectResult result this.args.onSelect}}>
          <span class="value">
            {{result.user.name}}
          </span>
          {{#if result.selected}}
            <span class="decorator">
              ✔
            </span>
          {{/if}}
        </button>
      </li>
    {{/each}}
  </ul>
{{/if}}
