<nav class="nav-banner">
    <span class="game-title">CONSORTIUM</span>

    <div class="session-info">
      {{#link-to "login"}}
        Login
      {{/link-to}}
      <span>
        |
      </span>
      {{#link-to "register"}}
        Register
      {{/link-to}}
    </div>
</nav>
