<nav class='nav-banner'>
  <LinkTo @route='index' class='game-title'>
    CONSORTIUM
  </LinkTo>

  <div class='session-info'>
    {{#if @session.isAuthenticated}}
      Welcome, {{@session.user.username}}
      <span>
        |
      </span>
      <button type='button' {{on 'click' @session.logout}}>
        Logout
      </button>
    {{else}}
      {{#link-to 'login'}}
        Login
      {{/link-to}}
      <span>
        |
      </span>
      {{#link-to 'register'}}
        Register
      {{/link-to}}
    {{/if}}
  </div>
</nav>
