/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:7f348da1e027d4009a29613a2d002f0c:57d22dabca4b94dac10aa1ee20f001fb:6eba3bb90156f56cfe9be940cca12168$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(/tiles/rpg.png);}

._tile_0061 {width:16px; height:16px; background-position: -0px -0px}
._tile_0062 {width:16px; height:16px; background-position: -0px -16px}
._tile_0063 {width:16px; height:16px; background-position: -0px -32px}
._tile_0064 {width:16px; height:16px; background-position: -0px -48px}
._tile_0066 {width:16px; height:16px; background-position: -16px -16px}
._tile_0065 {width:16px; height:16px; background-position: -16px -0px}
._tile_0067 {width:16px; height:16px; background-position: -16px -32px}
._tile_0077 {width:16px; height:16px; background-position: -32px -0px}
._tile_0068 {width:16px; height:16px; background-position: -16px -48px}
._tile_0078 {width:16px; height:16px; background-position: -32px -16px}
._tile_0079 {width:16px; height:16px; background-position: -32px -32px}
._tile_0103 {width:16px; height:16px; background-position: -32px -48px}
._tile_0104 {width:16px; height:16px; background-position: -48px -0px}
._tile_0105 {width:16px; height:16px; background-position: -48px -16px}
._tile_0107 {width:16px; height:16px; background-position: -48px -48px}
._tile_0106 {width:16px; height:16px; background-position: -48px -32px}
._tile_0108 {width:16px; height:16px; background-position: -64px -0px}
._tile_0109 {width:16px; height:16px; background-position: -64px -16px}
._tile_0110 {width:16px; height:16px; background-position: -64px -32px}
._tile_0112 {width:16px; height:16px; background-position: -80px -0px}
._tile_0111 {width:16px; height:16px; background-position: -64px -48px}
._tile_0113 {width:16px; height:16px; background-position: -80px -16px}
._tile_0119 {width:16px; height:16px; background-position: -80px -48px}
._tile_0114 {width:16px; height:16px; background-position: -80px -32px}
._tile_0120 {width:16px; height:16px; background-position: -96px -0px}
._tile_0121 {width:16px; height:16px; background-position: -96px -16px}
._tile_0122 {width:16px; height:16px; background-position: -96px -32px}
._tile_0124 {width:16px; height:16px; background-position: -112px -0px}
._tile_0123 {width:16px; height:16px; background-position: -96px -48px}
._tile_0126 {width:16px; height:16px; background-position: -112px -16px}
._tile_0127 {width:16px; height:16px; background-position: -112px -32px}
._tile_0128 {width:16px; height:16px; background-position: -112px -48px}
._tile_0130 {width:16px; height:16px; background-position: -128px -16px}
._tile_0129 {width:16px; height:16px; background-position: -128px -0px}
._tile_0131 {width:16px; height:16px; background-position: -128px -32px}
._tile_0133 {width:16px; height:16px; background-position: -144px -0px}
._tile_0132 {width:16px; height:16px; background-position: -128px -48px}
._tile_0134 {width:16px; height:16px; background-position: -144px -16px}
._tile_0135 {width:16px; height:16px; background-position: -144px -32px}
._tile_0136 {width:16px; height:16px; background-position: -144px -48px}
._tile_0137 {width:16px; height:16px; background-position: -160px -0px}
._tile_0139 {width:16px; height:16px; background-position: -160px -32px}
._tile_0138 {width:16px; height:16px; background-position: -160px -16px}
._tile_0140 {width:16px; height:16px; background-position: -160px -48px}
._tile_0141 {width:16px; height:16px; background-position: -176px -0px}
._tile_0142 {width:16px; height:16px; background-position: -176px -16px}
._tile_0143 {width:16px; height:16px; background-position: -176px -32px}
._tile_0144 {width:16px; height:16px; background-position: -176px -48px}
._tile_0146 {width:16px; height:16px; background-position: -192px -16px}
._tile_0145 {width:16px; height:16px; background-position: -192px -0px}
._tile_0147 {width:16px; height:16px; background-position: -192px -32px}
._tile_0148 {width:16px; height:16px; background-position: -192px -48px}
._tile_0149 {width:16px; height:16px; background-position: -208px -0px}
._tile_0151 {width:16px; height:16px; background-position: -208px -32px}
._tile_0150 {width:16px; height:16px; background-position: -208px -16px}
._tile_0152 {width:16px; height:16px; background-position: -208px -48px}
._tile_0153 {width:16px; height:16px; background-position: -224px -0px}
._tile_0154 {width:16px; height:16px; background-position: -224px -16px}
._tile_0155 {width:16px; height:16px; background-position: -224px -32px}
._tile_0157 {width:16px; height:16px; background-position: -240px -0px}
._tile_0156 {width:16px; height:16px; background-position: -224px -48px}
._tile_0158 {width:16px; height:16px; background-position: -240px -16px}
._tile_0160 {width:16px; height:16px; background-position: -240px -48px}
._tile_0159 {width:16px; height:16px; background-position: -240px -32px}
._tile_0161 {width:16px; height:16px; background-position: -256px -0px}
._tile_0162 {width:16px; height:16px; background-position: -256px -16px}
._tile_0163 {width:16px; height:16px; background-position: -256px -32px}
._tile_0164 {width:16px; height:16px; background-position: -256px -48px}
._tile_0167 {width:16px; height:16px; background-position: -272px -16px}
._tile_0165 {width:16px; height:16px; background-position: -272px -0px}
._tile_0169 {width:16px; height:16px; background-position: -272px -32px}
._tile_0173 {width:16px; height:16px; background-position: -272px -48px}
._tile_0174 {width:16px; height:16px; background-position: -288px -0px}
._tile_0184 {width:16px; height:16px; background-position: -288px -16px}
._tile_0185 {width:16px; height:16px; background-position: -288px -32px}
._tile_0187 {width:16px; height:16px; background-position: -304px -0px}
._tile_0186 {width:16px; height:16px; background-position: -288px -48px}
._tile_0188 {width:16px; height:16px; background-position: -304px -16px}
._tile_0189 {width:16px; height:16px; background-position: -304px -32px}
._tile_0190 {width:16px; height:16px; background-position: -304px -48px}
._tile_0192 {width:16px; height:16px; background-position: -320px -16px}
._tile_0191 {width:16px; height:16px; background-position: -320px -0px}
._tile_0193 {width:16px; height:16px; background-position: -320px -32px}
._tile_0196 {width:16px; height:16px; background-position: -320px -48px}
._tile_0197 {width:16px; height:16px; background-position: -336px -0px}
.arrow-end-left {width:16px; height:16px; background-position: -336px -32px}
.arrow-end-bottom {width:16px; height:16px; background-position: -336px -16px}
.arrow-end-right {width:16px; height:16px; background-position: -336px -48px}
.arrow-left-right {width:16px; height:16px; background-position: -352px -16px}
.arrow-end-top {width:16px; height:16px; background-position: -352px -0px}
.arrow-start-bottom {width:16px; height:16px; background-position: -352px -32px}
.arrow-start-left {width:16px; height:16px; background-position: -352px -48px}
.arrow-start-right {width:16px; height:16px; background-position: -368px -0px}
.arrow-start-top {width:16px; height:16px; background-position: -368px -16px}
.arrow-turn-left-bottom {width:16px; height:16px; background-position: -368px -48px}
.arrow-top-bottom {width:16px; height:16px; background-position: -368px -32px}
.arrow-turn-left-top {width:16px; height:16px; background-position: -384px -0px}
.arrow-turn-righ-bottom {width:16px; height:16px; background-position: -384px -16px}
.arrow-turn-right-top {width:16px; height:16px; background-position: -384px -32px}
.building-cart {width:16px; height:16px; background-position: -384px -48px}
.building-fench {width:16px; height:16px; background-position: -400px -0px}
.building-house-sm {width:16px; height:16px; background-position: -400px -32px}
.building-flag {width:16px; height:16px; background-position: -400px -16px}
.building-house {width:16px; height:16px; background-position: -400px -48px}
.building-stall {width:16px; height:16px; background-position: -416px -0px}
.character-female-sm {width:16px; height:16px; background-position: -416px -32px}
.building-tent {width:16px; height:16px; background-position: -416px -16px}
.character-female {width:16px; height:16px; background-position: -416px -48px}
.character-infantry {width:16px; height:16px; background-position: -432px -16px}
.character-infantry-sm {width:16px; height:16px; background-position: -432px -0px}
.character-king {width:16px; height:16px; background-position: -432px -48px}
.character-knight-sm {width:16px; height:16px; background-position: -448px -0px}
.character-king-sm {width:16px; height:16px; background-position: -432px -32px}
.character-knight {width:16px; height:16px; background-position: -448px -16px}
.character-male {width:16px; height:16px; background-position: -448px -48px}
.character-wizard-sm {width:16px; height:16px; background-position: -464px -0px}
.character-male-sm {width:16px; height:16px; background-position: -448px -32px}
.character-wizard {width:16px; height:16px; background-position: -464px -16px}
.fireball-1 {width:16px; height:16px; background-position: -464px -32px}
.fireball-2 {width:16px; height:16px; background-position: -464px -48px}
.select {width:16px; height:16px; background-position: -480px -16px}
.tile-bush-berries {width:16px; height:16px; background-position: -480px -32px}
.select-sm {width:16px; height:16px; background-position: -480px -0px}
.tile-bush {width:16px; height:16px; background-position: -480px -48px}
.tile-dirt-1 {width:16px; height:16px; background-position: -496px -0px}
.tile-dirt-2 {width:16px; height:16px; background-position: -496px -16px}
.tile-dirt-hills {width:16px; height:16px; background-position: -496px -32px}
.tile-grass-2 {width:16px; height:16px; background-position: -512px -0px}
.tile-grass-1 {width:16px; height:16px; background-position: -496px -48px}
.tile-grass-edge-bottom {width:16px; height:16px; background-position: -512px -48px}
.tile-grass-edge-bottom-right {width:16px; height:16px; background-position: -512px -32px}
.tile-grass-edge-bottom-left {width:16px; height:16px; background-position: -512px -16px}
.tile-grass-edge-left {width:16px; height:16px; background-position: -528px -0px}
.tile-grass-edge-right {width:16px; height:16px; background-position: -528px -16px}
.tile-grass-edge-round-top-right {width:16px; height:16px; background-position: -528px -48px}
.tile-grass-edge-round-top-left {width:16px; height:16px; background-position: -528px -32px}
.tile-grass-edge-top {width:16px; height:16px; background-position: -544px -0px}
.tile-grass-hills {width:16px; height:16px; background-position: -544px -16px}
.tile-road-empty-all-four {width:16px; height:16px; background-position: -544px -32px}
.tile-road-empty-bottom {width:16px; height:16px; background-position: -544px -48px}
.tile-road-empty-left {width:16px; height:16px; background-position: -576px -32px}
.tile-road-empty-left-right {width:16px; height:16px; background-position: -560px -48px}
.tile-road-empty-left-bottom {width:16px; height:16px; background-position: -560px -0px}
.tile-road-empty-left-top-bottom {width:16px; height:16px; background-position: -576px -0px}
.tile-road-empty-left-right-top {width:16px; height:16px; background-position: -560px -32px}
.tile-road-empty-left-right-bottom {width:16px; height:16px; background-position: -560px -16px}
.tile-road-empty-left-top {width:16px; height:16px; background-position: -576px -16px}
.tile-road-empty-right {width:16px; height:16px; background-position: -592px -32px}
.tile-road-empty-right-bottom {width:16px; height:16px; background-position: -576px -48px}
.tile-road-empty-right-top-bottom {width:16px; height:16px; background-position: -592px -0px}
.tile-road-empty-right-top {width:16px; height:16px; background-position: -592px -16px}
.tile-road-empty-top {width:16px; height:16px; background-position: -608px -0px}
.tile-road-empty-top-bottom {width:16px; height:16px; background-position: -592px -48px}
.tile-road-grass-all-four {width:16px; height:16px; background-position: -608px -16px}
.tile-road-grass-bottom {width:16px; height:16px; background-position: -608px -32px}
.tile-road-grass-left {width:16px; height:16px; background-position: -640px -16px}
.tile-road-grass-left-right-top {width:16px; height:16px; background-position: -624px -16px}
.tile-road-grass-left-bottom {width:16px; height:16px; background-position: -608px -48px}
.tile-road-grass-left-right {width:16px; height:16px; background-position: -624px -32px}
.tile-road-grass-left-right-bottom {width:16px; height:16px; background-position: -624px -0px}
.tile-road-grass-left-top {width:16px; height:16px; background-position: -640px -0px}
.tile-road-grass-right-bottom {width:16px; height:16px; background-position: -640px -32px}
.tile-road-grass-left-top-bottom {width:16px; height:16px; background-position: -624px -48px}
.tile-road-grass-right {width:16px; height:16px; background-position: -656px -16px}
.tile-road-grass-right-top {width:16px; height:16px; background-position: -656px -0px}
.tile-road-grass-right-top-bottom {width:16px; height:16px; background-position: -640px -48px}
.tile-road-grass-top {width:16px; height:16px; background-position: -656px -48px}
.tile-rock-1 {width:16px; height:16px; background-position: -672px -0px}
.tile-road-grass-top-bottom {width:16px; height:16px; background-position: -656px -32px}
.tile-rock-3 {width:16px; height:16px; background-position: -672px -32px}
.tile-rock-2 {width:16px; height:16px; background-position: -672px -16px}
.tile-rock-gold {width:16px; height:16px; background-position: -672px -48px}
.tile-rock-iron {width:16px; height:16px; background-position: -688px -0px}
.tile-rock-ore {width:16px; height:16px; background-position: -688px -16px}
.tile-sand-1 {width:16px; height:16px; background-position: -688px -32px}
.tile-sand-edge-bottom-left {width:16px; height:16px; background-position: -704px -0px}
.tile-sand-2 {width:16px; height:16px; background-position: -688px -48px}
.tile-sand-edge-bottom {width:16px; height:16px; background-position: -704px -32px}
.tile-sand-edge-bottom-right {width:16px; height:16px; background-position: -704px -16px}
.tile-sand-edge-left {width:16px; height:16px; background-position: -704px -48px}
.tile-sand-edge-right {width:16px; height:16px; background-position: -720px -0px}
.tile-sand-edge-round-top-left {width:16px; height:16px; background-position: -720px -16px}
.tile-sand-edge-top {width:16px; height:16px; background-position: -720px -48px}
.tile-sand-edge-round-top-right {width:16px; height:16px; background-position: -720px -32px}
.tile-sand-hills {width:16px; height:16px; background-position: -736px -0px}
.tile-snow-1 {width:16px; height:16px; background-position: -736px -16px}
.tile-snow-2 {width:16px; height:16px; background-position: -736px -32px}
.tile-stone-2 {width:16px; height:16px; background-position: -752px -0px}
.tile-stone-1 {width:16px; height:16px; background-position: -736px -48px}
.tile-tree-empty-pointed-2 {width:16px; height:16px; background-position: -752px -16px}
.tile-tree-empty-pointed-4 {width:16px; height:16px; background-position: -752px -32px}
.tile-tree-empty-single-1 {width:16px; height:16px; background-position: -752px -48px}
.tile-tree-empty-single-3 {width:16px; height:16px; background-position: -768px -16px}
.tile-tree-empty-single-2 {width:16px; height:16px; background-position: -768px -0px}
.tile-tree-empty-single-4 {width:16px; height:16px; background-position: -768px -32px}
.tile-tree-grass-2 {width:16px; height:16px; background-position: -784px -0px}
.tile-tree-grass-1 {width:16px; height:16px; background-position: -768px -48px}
.tile-tree-grass-3 {width:16px; height:16px; background-position: -784px -16px}
.tile-tree-grass-4 {width:16px; height:16px; background-position: -784px -32px}
.tile-tree-grass-pointed-1 {width:16px; height:16px; background-position: -784px -48px}
.tile-tree-grass-pointed-3 {width:16px; height:16px; background-position: -800px -16px}
.tile-tree-grass-pointed-2 {width:16px; height:16px; background-position: -800px -0px}
.tile-tree-grass-pointed-4 {width:16px; height:16px; background-position: -800px -32px}
.tile-tree-grass-stump-1 {width:16px; height:16px; background-position: -800px -48px}
.tile-tree-grass-stump-2 {width:16px; height:16px; background-position: -816px -0px}
.tile-tree-grass-stump-3 {width:16px; height:16px; background-position: -816px -16px}
.tile-water-1-edge-bottom {width:16px; height:16px; background-position: -816px -48px}
.tile-tree-grass-stump-4 {width:16px; height:16px; background-position: -816px -32px}
.tile-water-1 {width:16px; height:16px; background-position: -832px -0px}
.tile-water-2 {width:16px; height:16px; background-position: -832px -32px}
.tile-water-2-edge-bottom {width:16px; height:16px; background-position: -832px -16px}
