/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:c6b6c0f2fed3297bf0d50712fc6ef2e7:c067391df31c5f702764fad8faeee848:6eba3bb90156f56cfe9be940cca12168$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(/tiles/rpg.png);}

._tile_0061 {width:16px; height:16px; background-position: -104px -97px}
._tile_0062 {width:16px; height:16px; background-position: -0px -113px}
._tile_0063 {width:16px; height:16px; background-position: -16px -113px}
._tile_0064 {width:16px; height:16px; background-position: -32px -113px}
._tile_0065 {width:16px; height:16px; background-position: -48px -113px}
._tile_0068 {width:16px; height:16px; background-position: -96px -113px}
._tile_0066 {width:16px; height:16px; background-position: -64px -113px}
._tile_0067 {width:16px; height:16px; background-position: -80px -113px}
._tile_0077 {width:6px; height:7px; background-position: -0px -0px}
._tile_0104 {width:8px; height:10px; background-position: -62px -0px}
._tile_0078 {width:12px; height:7px; background-position: -6px -0px}
._tile_0079 {width:8px; height:13px; background-position: -110px -42px}
._tile_0103 {width:8px; height:10px; background-position: -54px -0px}
._tile_0105 {width:10px; height:11px; background-position: -70px -20px}
._tile_0111 {width:14px; height:16px; background-position: -112px -113px}
._tile_0106 {width:9px; height:10px; background-position: -70px -0px}
._tile_0107 {width:10px; height:10px; background-position: -79px -0px}
._tile_0108 {width:8px; height:11px; background-position: -80px -20px}
._tile_0109 {width:12px; height:15px; background-position: -48px -82px}
._tile_0114 {width:12px; height:15px; background-position: -70px -82px}
._tile_0110 {width:10px; height:15px; background-position: -60px -82px}
._tile_0112 {width:13px; height:16px; background-position: -0px -129px}
._tile_0113 {width:14px; height:16px; background-position: -13px -129px}
._tile_0119 {width:8px; height:7px; background-position: -18px -0px}
._tile_0120 {width:10px; height:9px; background-position: -34px -0px}
._tile_0121 {width:12px; height:12px; background-position: -0px -42px}
._tile_0122 {width:16px; height:14px; background-position: -9px -68px}
._tile_0123 {width:16px; height:14px; background-position: -25px -68px}
._tile_0124 {width:16px; height:14px; background-position: -41px -68px}
._tile_0127 {width:8px; height:10px; background-position: -97px -0px}
._tile_0126 {width:8px; height:10px; background-position: -89px -0px}
._tile_0128 {width:10px; height:11px; background-position: -88px -20px}
._tile_0131 {width:8px; height:11px; background-position: -98px -20px}
._tile_0134 {width:14px; height:16px; background-position: -27px -129px}
._tile_0136 {width:14px; height:16px; background-position: -54px -129px}
._tile_0135 {width:13px; height:16px; background-position: -41px -129px}
._tile_0129 {width:9px; height:10px; background-position: -105px -0px}
._tile_0130 {width:10px; height:10px; background-position: -114px -0px}
._tile_0132 {width:12px; height:15px; background-position: -82px -82px}
._tile_0133 {width:10px; height:15px; background-position: -94px -82px}
._tile_0137 {width:12px; height:15px; background-position: -104px -82px}
._tile_0140 {width:16px; height:16px; background-position: -100px -129px}
._tile_0138 {width:16px; height:16px; background-position: -68px -129px}
._tile_0139 {width:16px; height:16px; background-position: -84px -129px}
._tile_0141 {width:16px; height:16px; background-position: -0px -145px}
._tile_0142 {width:14px; height:16px; background-position: -16px -145px}
._tile_0143 {width:14px; height:16px; background-position: -30px -145px}
._tile_0148 {width:12px; height:12px; background-position: -12px -42px}
._tile_0158 {width:13px; height:16px; background-position: -106px -145px}
._tile_0159 {width:14px; height:16px; background-position: -0px -161px}
._tile_0169 {width:10px; height:16px; background-position: -46px -161px}
._tile_0161 {width:16px; height:16px; background-position: -14px -161px}
._tile_0162 {width:16px; height:16px; background-position: -30px -161px}
._tile_0184 {width:16px; height:16px; background-position: -88px -161px}
._tile_0173 {width:16px; height:16px; background-position: -56px -161px}
._tile_0174 {width:16px; height:16px; background-position: -72px -161px}
._tile_0185 {width:16px; height:16px; background-position: -104px -161px}
._tile_0187 {width:14px; height:12px; background-position: -24px -42px}
._tile_0189 {width:16px; height:10px; background-position: -63px -10px}
._tile_0191 {width:16px; height:16px; background-position: -0px -177px}
._tile_0192 {width:16px; height:16px; background-position: -16px -177px}
._tile_0193 {width:16px; height:16px; background-position: -32px -177px}
._tile_0144 {width:14px; height:15px; background-position: -0px -97px}
._tile_0145 {width:16px; height:16px; background-position: -44px -145px}
._tile_0146 {width:16px; height:16px; background-position: -60px -145px}
._tile_0147 {width:16px; height:16px; background-position: -76px -145px}
._tile_0149 {width:8px; height:10px; background-position: -0px -10px}
._tile_0150 {width:8px; height:10px; background-position: -8px -10px}
._tile_0151 {width:10px; height:11px; background-position: -106px -20px}
._tile_0152 {width:9px; height:10px; background-position: -16px -10px}
._tile_0153 {width:10px; height:10px; background-position: -25px -10px}
._tile_0154 {width:8px; height:11px; background-position: -116px -20px}
._tile_0188 {width:16px; height:11px; background-position: -42px -31px}
._tile_0155 {width:12px; height:15px; background-position: -14px -97px}
._tile_0156 {width:10px; height:15px; background-position: -26px -97px}
._tile_0157 {width:14px; height:16px; background-position: -92px -145px}
._tile_0160 {width:12px; height:15px; background-position: -36px -97px}
._tile_0163 {width:14px; height:10px; background-position: -35px -10px}
._tile_0186 {width:14px; height:10px; background-position: -49px -10px}
._tile_0190 {width:14px; height:11px; background-position: -58px -31px}
._tile_0196 {width:16px; height:16px; background-position: -48px -177px}
._tile_0164 {width:12px; height:11px; background-position: -0px -31px}
._tile_0165 {width:16px; height:11px; background-position: -12px -31px}
._tile_0167 {width:14px; height:11px; background-position: -28px -31px}
.arrow-end-left {width:16px; height:14px; background-position: -57px -68px}
.arrow-end-bottom {width:14px; height:16px; background-position: -80px -177px}
._tile_0197 {width:16px; height:16px; background-position: -64px -177px}
.arrow-end-right {width:16px; height:14px; background-position: -73px -68px}
.arrow-start-bottom {width:12px; height:14px; background-position: -89px -68px}
.arrow-end-top {width:14px; height:16px; background-position: -94px -177px}
.arrow-left-right {width:16px; height:10px; background-position: -79px -10px}
.arrow-start-left {width:14px; height:12px; background-position: -38px -42px}
.arrow-start-right {width:14px; height:12px; background-position: -52px -42px}
.building-flag {width:13px; height:15px; background-position: -48px -97px}
.arrow-top-bottom {width:10px; height:16px; background-position: -108px -177px}
.arrow-start-top {width:12px; height:14px; background-position: -101px -68px}
.arrow-turn-left-bottom {width:13px; height:13px; background-position: -0px -55px}
.arrow-turn-left-top {width:13px; height:13px; background-position: -13px -55px}
.arrow-turn-righ-bottom {width:13px; height:13px; background-position: -26px -55px}
.arrow-turn-right-top {width:13px; height:13px; background-position: -39px -55px}
.character-infantry-sm {width:9px; height:10px; background-position: -119px -10px}
.building-cart {width:16px; height:16px; background-position: -0px -193px}
.building-fench {width:16px; height:13px; background-position: -52px -55px}
.building-house {width:16px; height:16px; background-position: -16px -193px}
.building-house-sm {width:16px; height:10px; background-position: -95px -10px}
.building-stall {width:16px; height:16px; background-position: -32px -193px}
.character-male {width:12px; height:15px; background-position: -83px -97px}
.character-female-sm {width:8px; height:10px; background-position: -111px -10px}
.building-tent {width:16px; height:16px; background-position: -48px -193px}
.character-female {width:10px; height:15px; background-position: -61px -97px}
.character-king {width:12px; height:15px; background-position: -71px -97px}
.tile-rock-1 {width:8px; height:7px; background-position: -26px -0px}
.tile-rock-2 {width:10px; height:9px; background-position: -44px -0px}
.tile-rock-iron {width:16px; height:14px; background-position: -16px -82px}
.character-infranty {width:13px; height:16px; background-position: -64px -193px}
.character-king-sm {width:8px; height:11px; background-position: -72px -31px}
.character-knight {width:14px; height:16px; background-position: -77px -193px}
.fireball-1 {width:8px; height:13px; background-position: -68px -55px}
.character-knight-sm {width:10px; height:10px; background-position: -0px -20px}
.character-male-sm {width:8px; height:10px; background-position: -10px -20px}
.character-wizard {width:14px; height:16px; background-position: -91px -193px}
.character-wizard-sm {width:10px; height:11px; background-position: -80px -31px}
.select-sm {width:16px; height:16px; background-position: -105px -193px}
.fireball-2 {width:8px; height:13px; background-position: -76px -55px}
.select {width:16px; height:16px; background-position: -0px -209px}
.tile-bush {width:10px; height:10px; background-position: -28px -20px}
.tile-bush-berries {width:10px; height:10px; background-position: -18px -20px}
.tile-dirt-1 {width:16px; height:16px; background-position: -16px -209px}
.tile-dirt-2 {width:16px; height:16px; background-position: -32px -209px}
.tile-grass-edge-round-top-right {width:16px; height:16px; background-position: -64px -225px}
.tile-road-empty-left {width:16px; height:11px; background-position: -90px -31px}
.tile-road-empty-left-bottom {width:12px; height:12px; background-position: -66px -42px}
.tile-dirt-hills {width:16px; height:16px; background-position: -48px -209px}
.tile-grass-1 {width:16px; height:16px; background-position: -64px -209px}
.tile-grass-2 {width:16px; height:16px; background-position: -80px -209px}
.tile-grass-edge-bottom {width:16px; height:16px; background-position: -0px -225px}
.tile-grass-edge-bottom-left {width:16px; height:16px; background-position: -96px -209px}
.tile-grass-edge-right {width:16px; height:16px; background-position: -32px -225px}
.tile-grass-edge-bottom-right {width:16px; height:16px; background-position: -112px -209px}
.tile-grass-edge-left {width:16px; height:16px; background-position: -16px -225px}
.tile-grass-edge-round-top-left {width:16px; height:16px; background-position: -48px -225px}
.tile-road-empty-bottom {width:11px; height:16px; background-position: -0px -241px}
.tile-road-grass-right-top {width:16px; height:16px; background-position: -112px -257px}
.tile-road-empty-left-right-top {width:16px; height:13px; background-position: -100px -55px}
.tile-grass-edge-top {width:16px; height:16px; background-position: -80px -225px}
.tile-grass-hills {width:16px; height:16px; background-position: -96px -225px}
.tile-road-empty-all-four {width:16px; height:16px; background-position: -112px -225px}
.tile-road-empty-left-right {width:16px; height:10px; background-position: -38px -20px}
.tile-road-empty-left-right-bottom {width:16px; height:13px; background-position: -84px -55px}
.tile-road-empty-left-top {width:11px; height:12px; background-position: -78px -42px}
.tile-road-empty-left-top-bottom {width:13px; height:16px; background-position: -11px -241px}
.tile-road-empty-right {width:16px; height:10px; background-position: -54px -20px}
.tile-road-empty-right-bottom {width:12px; height:13px; background-position: -116px -55px}
.tile-road-empty-right-top {width:13px; height:11px; background-position: -106px -31px}
.tile-road-empty-right-top-bottom {width:13px; height:16px; background-position: -24px -241px}
.tile-road-empty-top {width:10px; height:16px; background-position: -47px -241px}
.tile-road-empty-top-bottom {width:10px; height:16px; background-position: -37px -241px}
.tile-road-grass-all-four {width:16px; height:16px; background-position: -57px -241px}
.tile-road-grass-bottom {width:16px; height:16px; background-position: -73px -241px}
.tile-road-grass-left {width:16px; height:16px; background-position: -64px -257px}
.tile-road-grass-left-top-bottom {width:16px; height:16px; background-position: -32px -257px}
.tile-road-grass-left-top {width:16px; height:16px; background-position: -48px -257px}
.tile-road-grass-right {width:16px; height:16px; background-position: -0px -273px}
.tile-tree-empty-1 {width:7px; height:11px; background-position: -119px -31px}
.tile-road-grass-right-bottom {width:16px; height:16px; background-position: -80px -257px}
.tile-road-grass-left-bottom {width:16px; height:16px; background-position: -89px -241px}
.tile-road-grass-left-right {width:16px; height:16px; background-position: -16px -257px}
.tile-road-grass-left-right-bottom {width:16px; height:16px; background-position: -105px -241px}
.tile-road-grass-left-right-top {width:16px; height:16px; background-position: -0px -257px}
.tile-road-grass-right-top-bottom {width:16px; height:16px; background-position: -96px -257px}
.tile-road-grass-top {width:16px; height:16px; background-position: -32px -273px}
.tile-road-grass-top-bottom {width:16px; height:16px; background-position: -16px -273px}
.tile-rock-3 {width:12px; height:12px; background-position: -89px -42px}
.tile-rock-gold {width:16px; height:14px; background-position: -0px -82px}
.tile-rock-ore {width:16px; height:14px; background-position: -32px -82px}
.tile-sand-1 {width:16px; height:16px; background-position: -48px -273px}
.tile-sand-2 {width:16px; height:16px; background-position: -64px -273px}
.tile-sand-edge-bottom {width:16px; height:16px; background-position: -112px -273px}
.tile-sand-edge-left {width:16px; height:16px; background-position: -0px -289px}
.tile-sand-edge-bottom-left {width:16px; height:16px; background-position: -80px -273px}
.tile-sand-edge-bottom-right {width:16px; height:16px; background-position: -96px -273px}
.tile-snow-1 {width:16px; height:16px; background-position: -96px -289px}
.tile-stone-2 {width:16px; height:16px; background-position: -16px -305px}
.tile-snow-2 {width:16px; height:16px; background-position: -112px -289px}
.tile-sand-edge-right {width:16px; height:16px; background-position: -16px -289px}
.tile-sand-edge-round-top-left {width:16px; height:16px; background-position: -32px -289px}
.tile-sand-edge-round-top-right {width:16px; height:16px; background-position: -48px -289px}
.tile-sand-edge-top {width:16px; height:16px; background-position: -64px -289px}
.tile-sand-hills {width:16px; height:16px; background-position: -80px -289px}
.tile-stone-1 {width:16px; height:16px; background-position: -0px -305px}
.tile-tree-empty-2 {width:9px; height:13px; background-position: -0px -68px}
.tile-tree-empty-4 {width:9px; height:15px; background-position: -95px -97px}
.tile-tree-empty-3 {width:9px; height:12px; background-position: -101px -42px}
.tile-tree-grass-1 {width:16px; height:16px; background-position: -32px -305px}
.tile-tree-grass-2 {width:16px; height:16px; background-position: -48px -305px}
.tile-tree-grass-3 {width:16px; height:16px; background-position: -64px -305px}
.tile-tree-grass-4 {width:16px; height:16px; background-position: -80px -305px}
.tile-tree-grass-pointed-2 {width:16px; height:16px; background-position: -112px -305px}
.tile-tree-grass-pointed-1 {width:16px; height:16px; background-position: -96px -305px}
.tile-tree-grass-pointed-3 {width:16px; height:16px; background-position: -0px -321px}
.tile-tree-grass-stump-1 {width:16px; height:16px; background-position: -32px -321px}
.tile-tree-grass-pointed-4 {width:16px; height:16px; background-position: -16px -321px}
.tile-tree-grass-stump-2 {width:16px; height:16px; background-position: -48px -321px}
.tile-tree-grass-stump-3 {width:16px; height:16px; background-position: -64px -321px}
.tile-tree-grass-stump-4 {width:16px; height:16px; background-position: -80px -321px}
.tile-water-1 {width:16px; height:16px; background-position: -96px -321px}
.tile-water-2 {width:16px; height:16px; background-position: -112px -321px}
