<div class="unit-movement">
  <div class="sprite arrow-end-left" data-pos="left"></div>
  <div class="sprite arrow-end-right" data-pos="right"></div>
  <div class="sprite arrow-end-bottom" data-pos="bottom"></div>
  <div class="sprite arrow-end-top" data-pos="top"></div>
</div>
