.nav-banner {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    box-shadow: 0 0 10px -2px #ccc;
    background-color: #fafaf0;

    .game-title {
        font-size: 24px;
    }
}