.square-board {
  .square-grid {
    // transform: scale(1.5);
    // transform-origin: top left;
    zoom: 1.75;

    image-rendering: pixelated;

    .row {
      display: flex;

      > .sprite {
        position: relative;
        overflow: visible;

        .select,
        .select-sm {
          position: absolute;
          top: 0;
        }
      }
    }
  }

  .unit-movement {
    position: absolute;
    z-index: 2;

    top: 0;

    .sprite {
      position: absolute;

      &[data-pos='left'] {
        left: -16px;
      }

      &[data-pos='right'] {
        right: -32px;
      }

      &[data-pos='top'] {
        top: -16px;
      }

      &[data-pos='bottom'] {
        bottom: -32px;
      }
    }
  }
}
