.square-board {
  .square-grid {
    // transform: scale(1.5);
    // transform-origin: top left;
    zoom: 1.75;

    image-rendering: pixelated;

    .row {
      display: flex;

      > .sprite {
        position: relative;

        .select,
        .select-sm {
          position: absolute;
          top: 0;
        }
      }
    }
  }
}
