<h3>Create a new board</h3>
<<<<<<< HEAD
<button type="button" {{on "click" this.createBoard}}>Create</button>
=======
<div>
  <label for="size">Board Size:</label>
  <select id="size" {{on "change" this.setSize}}>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
  </select>
</div>
<div>
  <button {{on "click" this.createBoard}}>Create</button>
</div>
>>>>>>> 13eec8642587ee2989311a0b61b13895a04c24c9
